@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form method="post" action="/Home/Index">
    <div class="form-group">
        <label>Okul No</label>
        <input type="text" name="okulno" class="form-control" />
    </div>


    <div class="form-group">
        <label>Ad</label>
        <input type="text" name="ad" class="form-control" />
    </div>

    <div class="form-group">
        <label>Soyad</label>
        <input type="text" name="soyad" class="form-control" />
    </div>

    <div class="form-group">
        <label>Sınıf</label>
        <input type="text" name="sinif" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Gönder</button>
    </div>



</form>

